    <body>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                    <h1>Operation New House</h1>
                </div>
            </div>

            <div class="row justify-content-center">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <form id="form" class="form-inline ml-auto" style="margin-bottom: 0px">
                                <label>City</label>
                                <input type="text" class="form-control form-control-sm ml-2 mr-sm-2" name="city" placeholder="City">

                                <label>State</label>
                                <input type="text" class="form-control form-control-sm ml-2 mr-sm-2" name="state" value="GA">

                                <label>Price</label>
                                <select class="custom-select custom-select-sm mx-2" name="price_min">
                                    <option value="100000">$100K</option>
                                    <option value="200000">$200K</option>
                                    <option value="300000">$300K</option>
                                    <option value="400000">$400K</option>
                                    <option value="500000">$500K</option>
                                </select>

                                <label>-</label>
                                <select class="custom-select custom-select-sm mx-2" name="price_max">
                                    <option value="100000">$100K</option>
                                    <option value="200000">$200K</option>
                                    <option value="300000">$300K</option>
                                    <option value="400000">$400K</option>
                                    <option value="500000">$500K</option>
                                </select>

                                <label>Beds</label>
                                <select class="custom-select custom-select-sm mx-2" name="beds">
                                    <option value="1">1+</option>
                                    <option value="2">2+</option>
                                    <option value="3">3+</option>
                                    <option value="4">4+</option>
                                    <option value="5">5+</option>
                                </select>

                                <label>Baths</label>
                                <select class="custom-select custom-select-sm mx-2" name="baths">
                                    <option value="1">1+</option>
                                    <option value="2">2+</option>
                                    <option value="3">3+</option>
                                    <option value="4">4+</option>
                                    <option value="5">5+</option>
                                </select>

                                <label>Sq Ft</label>
                                <input type="text" class="form-control form-control-sm ml-2 mr-sm-2" name"square_feet" placeholder="Square Footage">

                                <label>Distance from Work</label>
                                <select class="custom-select custom-select-sm mx-2" name="distance">
                                    <option value="10">10 mi</option>
                                    <option value="15">15 mi</option>
                                    <option value="20">20 mi</option>
                                    <option value="25">25 mi</option>
                                    <option value="30">30 mi</option>
                                </select>

                                <div class="ml-auto">
                                    <button id="search" type="button" class="btn btn-success btn-sm"><i class="fas fa-search"></i> Search</button>
                                </div>
                            </form>
                        </div>

                        <div class="card-body">
                            <table id="table-list" class="table table-sm">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col" class="text-center">Photo</th>
                                        <th scope="col" class="text-center">Address</th>
                                        <th scope="col" class="text-center">City</th>
                                        <th scope="col" class="text-center">County</th>
                                        <th scope="col" class="text-center">Price</th>
                                        <th scope="col" class="text-center">Beds</th>
                                        <th scope="col" class="text-center">Baths</th>
                                        <th scope="col" class="text-center">Sq Ft</th>
                                        <th scope="col" class="text-center">Lot</th>
                                        <th scope="col" class="text-center">Work Distance</th>
                                        <th scope="col" class="text-center">Work Duration</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="modal-search" class="modal text-center" tabindex="-1" role="dialog" data-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <i class="fas fa-spinner fa-pulse" style="font-size: 150px"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>